/* styles.css */
.GameContainer {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #7df1c1;
    border-radius: 5px;
}

.GameTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.GamePlatforms {
    font-style: italic;
    color: #666;
}

.GameImage {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.GamePrice {
    font-weight: bold;
}

.GameDescription {
    margin-top: 10px;
    color: #333;
}

.GameContainer {
    position: relative; 

  }
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%; 
    overflow: auto; 
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  