.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    background-color: #69b356;
    color: #fff;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    background-color: #abd485;
    padding: 20px;
    min-width: 80px;
    font-weight: bold;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .sidebar nav ul li a:hover {
    color: #666;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #b3e4c2;
  }
  