.home {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta la altura según necesites */
  }
  
  header {
    background-color: #69b356; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    background-color: #abd485; /* Color de fondo de la barra lateral */
    padding: 20px;
    min-width: 80px;
    font-weight: bold;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    color: #333; /* Color del texto de los enlaces en la barra lateral */
    text-decoration: none;
  }
  
  .sidebar nav ul li a:hover {
    color: #666; /* Color del texto de los enlaces en la barra lateral al pasar el ratón */
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #b3e4c2; /* Color de fondo del contenido principal */
  }
  