.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según necesites */
    background-color: #d7e4da;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #a3e4b1;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input[type="text"],
  .form-control input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .form-error {
    color: #ff0000; /* Color del mensaje de error */
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container button {
    padding: 10px 40px; /* Aumenta el padding horizontal para más espacio */
    background-color: #007bff; /* Color del botón */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex; /* Permite alinear el texto y el icono */
    align-items: center; /* Alinea verticalmente el texto y el icono */
  }
  
  .button-container button:hover {
    background-color: #0056b3; /* Color del botón al pasar el ratón */
  }
  
  /* Estilos para el icono */
  .button-container button .icon {
    margin-right: 5px; /* Espacio entre el icono y el texto */
  }
  
  /* Puedes ajustar estos estilos según el icono que estés utilizando */
  
  
  .link-container {
    margin-top: 10px;
    text-align: center;
  }
  
  .link-container .link {
    color: #007bff; /* Color del enlace */
    text-decoration: none;
  }
  
  .link-container .link:hover {
    text-decoration: underline;
  }
  